.tablebackgroundh {
	background-color:#ccccff; 
	width: 120px;
}

.tablebackground {
	background-color: white;
}

.imginprofile {
	width: 250px;
	padding-bottom: 30px;
}

.colorfortable {
	background-color: white;
}
